<section>
    <div class="banner" *appShowAuthed="false">
        <h2>News Feed</h2>
        <span>A place to share your knowledge</span>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-md-9">
                <ngb-tabset type="pills">
                    <ngb-tab title="Your Feed">
                        <ng-template ngbTabContent>
                            Your feed
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Global Feeds">
                        <ng-template ngbTabContent>
                            Global feeds
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
            <div class="col-md-3">
                <p>Popular Tags</p>
            </div>
        </div>
    </div>
</section>