<div class="app-navbar-row">
    <ul class="app-navbar-nav ml-auto">
        <li class="app-nav-item">
            <a class="app-nav-link" routerLink="/" routerLinkActive="app-nav-link-active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li class="app-nav-item">
            <a class="app-nav-link" routerLink="auth" routerLinkActive="app-nav-link-active" [routerLinkActiveOptions]="{ exact: true }"><span class="ion-log-in">&nbsp;</span>Sign in</a>
        </li>
    </ul>
</div>