footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer.page-footer {
    margin-top: 20px;
    color: #fff;
    font-size: .9rem;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
}

footer.page-footer .footer-copyright {
    color: rgba(255, 255, 255, .6);
    background-color: rgba(0, 0, 0, .2);
    height: 50px;
    text-align: center;
    overflow: hidden;
    line-height: 50px;
}

footer.page-footer span {
    color: #fff;
}