<div class="article-preview">
    <div class="article-meta">
        <a [routerLink]="['/profile', _article.author.username]">
            <img [src]="_article.author.image">
        </a>
        <div class="info">
            <a [routerLink]="['/profile', _article.author.username]" class="author">{{_article.author.username}}</a>
            <span class="date">{{_article.createdAt | date:'longDate'}}</span>
        </div>
        <div class="pull-right" *ngIf="isAuthenticated">
            <button class="btn btn-xs" [ngClass]="{'btn-success': _article.favorited, 'btn-outline-success': !_article.favorited}" (click)="favorite()" [disabled]="isSubmitting"><span class="ion-heart">&nbsp;</span>{{_article.favoritesCount}}</button>
        </div>
    </div>
    <a [routerLink]="['/article', _article.slug]" div class="preview-link">
        <h3>{{_article.title}}</h3>
        <p>{{_article.description}}</p>
        <span>Read more...</span>
    </a>
    <div class="tag-list">
        <span class="tag tag-pill tag-outline-default" *ngFor="let t of _article.tagList">{{t}}</span>
    </div>
</div>