<section>
    <div class="banner light">
        <h2>{{article.title}}</h2>
        <div class="action-panel left article-meta">
            <a [routerLink]="['/profile', article.author.username]">
                <img [src]="article.author.image">
            </a>
            <div class="info">
                <a [routerLink]="['/profile', article.author.username]" class="author">{{article.author.username}}</a>
                <span class="date">{{article.createdAt | date:'longDate'}}</span>
            </div>
            <div class="info" *ngIf="isAuthor">
                <button class="btn btn-sm btn-outline-primary" (click)="editArticle()"><span class="ion-edit">&nbsp;</span>Edit article</button>
                <button class="btn btn-sm btn-outline-danger" (click)="deleteArticle()"><span class="ion-trash-a">&nbsp;</span>Delete article</button>
            </div>
            <div class="info" *ngIf="!isAuthor">
                <button class="btn btn-sm btn-outline-primary" [disabled]="isSubmitting" (click)="follow()"><span class="ion-plus-round">&nbsp;</span>{{getButtonLabel('follow')}}</button>
                <button class="btn btn-sm btn-outline-success" [disabled]="isSubmitting" (click)="favorite()"><span class="ion-heart">&nbsp;</span>{{getButtonLabel('favorite')}}</button>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="article-body">
            <markdown>{{article.body}}</markdown>
            <span class="tag tag-pill tag-outline-default" *ngFor="let t of article.tagList">{{t}}</span>
        </div>
        <div class="action-panel center article-meta">
            <a [routerLink]="['/profile', article.author.username]">
                <img [src]="article.author.image">
            </a>
            <div class="info">
                <a [routerLink]="['/profile', article.author.username]" class="author">{{article.author.username}}</a>
                <span class="date">{{article.createdAt | date:'longDate'}}</span>
            </div>
            <div class="info" *ngIf="isAuthor">
                <button class="btn btn-sm btn-outline-primary" (click)="editArticle()"><span class="ion-edit">&nbsp;</span>Edit article</button>
                <button class="btn btn-sm btn-outline-danger" (click)="deleteArticle()"><span class="ion-trash-a">&nbsp;</span>Delete article</button>
            </div>
            <div class="info" *ngIf="!isAuthor">
                <button class="btn btn-sm btn-outline-primary" [disabled]="isSubmitting" (click)="follow()"><span class="ion-plus-round">&nbsp;</span>{{getButtonLabel('follow')}}</button>
                <button class="btn btn-sm btn-outline-success" [disabled]="isSubmitting" (click)="favorite()"><span class="ion-heart">&nbsp;</span>{{getButtonLabel('favorite')}}</button>
            </div>
        </div>
    </div>
</section>