/* You can add global styles to this file, and also import other style files */

html {
    position: relative;
    padding-bottom: 100px;
    min-height: 100vh;
}

.app-navbar {
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.app-navbar>.container {
    display: flex;
}

.app-navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 2rem;
    font-size: 1.25rem;
    line-height: inherit;
    color: rgba(255, 255, 255, 0.9)
}

.app-navbar-brand:hover,
.app-navbar-brand:focus {
    text-decoration: none;
}

.app-navbar-row {
    display: flex !important;
    width: 100%;
}

.app-navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.app-navbar-nav .app-nav-link {
    color: rgba(255, 255, 255, 1)!important;
}

.app-navbar-nav .app-nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.app-nav-item {
    border-radius: 4px;
    margin: 0 .25rem;
}

.app-nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

.app-nav-link:hover {
    text-decoration: none;
    cursor: pointer;
}

.pull-xs-right {
    float: right;
}

.blue {
    background-color: #007bff!important;
}

div.banner {
    background-color: rgba(0, 123, 255, .8);
    padding: 2rem .5rem 1rem .5rem;
    color: #fff;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

div.banner>h2 {
    font-weight: bold;
}

div.banner>span {
    font-size: 1.5rem;
}

div.banner.light {
    background-color: rgba(0, 123, 255, .1);
    color: rgba(0, 0, 0, .6);
}

div.banner>div.action-panel {
    padding: 2rem 2rem 0 2rem;
}

div.action-panel.right {
    text-align: right;
}

div.action-panel.left {
    text-align: left;
}

div.action-panel.center {
    text-align: center;
}

div.content {
    padding-top: 1rem;
}

.btn-submit {
    float: right;
    min-width: 100px;
}

.user-img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 1rem;
}

.form-title {
    text-align: center;
    margin-bottom: 1.5rem;
}

form.narrow {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.tag {
    color: #fff !important;
    font-size: 0.8rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    white-space: nowrap;
    margin-right: 3px;
    margin-bottom: 0.2rem;
    display: inline-block;
    font-family: "Source Sans Pro", sans-serif;
}

.tag-default {
    background-color: #818a91;
}

.tag-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}

.tag-button {
    padding-right: .35rem;
    font-weight: bold;
    font-variant: small-caps;
}

.article-meta img {
    width: 32px;
    height: 32px;
    border-radius: 30px;
}

.article-meta .info {
    display: inline-block;
    line-height: 1rem;
    vertical-align: middle;
    margin: 0 1.5rem 0 .3rem;
}

.article-meta .author {
    display: block;
    color: inherit;
    font-weight: 500 !important;
    text-align: left;
}

.article-meta .date {
    font-size: .8rem;
}

.article-body {
    font-size: 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 0 1rem 1rem 1rem;
    margin-bottom: 1.5rem;
}

.article-preview {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    min-height: 206px;
}

.article-preview-button {
    min-width: 50px;
}

.btn-xs,
.btn-group-xs>.btn {
    padding: .15rem .3rem !important;
    font-size: .7rem !important;
    line-height: 1.5 !important;
    border-radius: .2rem !important;
}