/* You can add global styles to this file, and also import other style files */

.blue {
    background-color: #007bff!important;
}

div.banner {
    background-color: rgba(0, 123, 255, .8);
    padding: 2rem .5rem;
    color: #fff;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

div.banner>h2 {
    font-weight: bold;
}

div.banner>span {
    font-size: 1.5rem;
}

div.content {
    padding-top: 1rem;
}

.btn-submit {
    float: right;
    min-width: 100px;
}